@import "compass/css3";

html {
  font-family: $base-font-family;
  line-height: 160%;
  font-size: $base-font-size;
}
a {
  color: $links;
  text-decoration: none;
}
p {
  font-size: $base-font-size + 8;
  line-height: 140%;
}
/**
 * navigation
 */
.navigation {
  height: 80px;
  position: absolute;
  z-index: 10;
  width: 100%;
}
#nav {
  @include clearfix;
    
  ul {
    @include clearfix;
  
    li {
      float: left;
      margin-right: 15px;
      
      a {
        font-family: $oswald;
        font-weight: bold;
        font-size: $base-font-size + 6;
        color: $menuitemcolor;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

/**
 * landscape
 */
.landscape {
  background: url("../img/sky.png") repeat-x scroll 0 0 transparent;
  height: 800px;
  position: relative;
}
.hills {
  background: url("../img/hills.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 96px;
  width: 745px;
  position: absolute;
  top: 162px;
}
.boats {
  width: 100%;
  position: relative;
  top: 162px;
  
  #smallboat {
    background: url("../img/boat_small.svg") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 30px;
  }
  .big {
    background: url("../img/boat_big.svg") no-repeat scroll 0 0 transparent;
  }
}
.lake {
  height: 800px;
  position: absolute;
  top: 0;
  width: 100%;
  background: url("../img/water.png") repeat-x scroll 0 0 transparent;
}
.logo {
  position: absolute;
  text-align: right;
  top: 189px;
  width: 100%;
  
  a {
    display: block;
    margin: 0 auto;
  }
  .logo-inner {
    width: 960px;
    margin: 0 auto;
    padding: 0 $dekstopgutter;
  }
}
.info {
  height: 400px;
  margin-top: 15px;
  position: absolute;
  top: 288px;
  width: 100%;
  
  h1 {
    color: transparent;
    display: block;
    height: 100%;
    position: relative;
    text-indent: -9000em;
    width: 960px;
    margin: 0 auto;
    
    span {
      background-repeat: no-repeat;
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      background-image: url("../img/big_typo.svg");
    }
  }
}
.logo-link {
  width: 100%;
  
  .logo-link-inner {
    width: 960px;
    margin: 0 auto;
    position: relative;
    
    a {
      height: 74px;
      width: 345px;
      position: absolute;
      right: 0;
      top: 190px;
      display: block;
    }
  }
}

/**
 * content
 */
#content {
  margin-top: 60px;
  
  h2.section-title{
    margin: 0;
    font-family: $oswald;
    font-size: $base-font-size * 5;
    line-height: 100%;
    text-transform: uppercase;
    color: $sectiontitle;
  }
  h3.section-subtitle{
    margin: 0;
    font-family: $oswald;
    font-weight: 100;
    font-size: $base-font-size * 2 + 6;
    line-height: 100%;
    text-transform: uppercase;
    color: $sectionsubtitle;
  }
}
.location-area {
  background: #e7e7e7;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 300px;
}
.tabs {
  margin-bottom: 40px;
  height: 54px;
  
  h2 {
    position: relative;
    color: #ffffff;
    font-family: $oswald;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    
    font-size:$base-font-size + 8;
    padding:14px 30px 10px 30px;
    @include text-shadow(0 -2px #000000);
    @include border-radius(6px);

     -webkit-box-shadow: 0px 6px 0px #15648c;
    -moz-box-shadow: 0px 6px 0px #15648c;
    box-shadow: 0px 6px 0px #15648c;
    background-color: #1675af;
    width: 25%;
    float: left;
    margin: 0;
    text-align: center;
      
      	-webkit-transform: translate(0, 0);
  	-moz-transform: translate(0, 0);
  	transform: translate(0, 0);
  
  	-webkit-transition: all .2s ease;
  	-moz-transition: all .2s ease;
  	-ms-transition: all .2s ease;
  	-o-transition: all .2s ease;
  	transition: all .2s ease;
      
    &:active {
       -webkit-transform: translate(0, 3px);
    	-moz-transform: translate(0, 3px);
    	transform: translate(0, 3px);
    }
    a {
      color: #fff;
    }
    
    &.middle {
      margin: 0 20px;
    }
  }
}

div.twitter {
  background-color: $sectiontitle;
  padding: 60px 0;
  
  span {
    display: block;
    font-family: $oswald;
    color: #fff;
    text-transform: uppercase;
    line-height: 100%;
    font-size: $base-font-size * 4 + 11;
    font-weight: bold;
    
    &.second {
      color: $twitterurl;
    }
  }
}
div.newsletter {
  background-color: $menuitemcolor;
  padding: 60px 0;
  
  span {
    display: block;
    font-family: $oswald;
    color: #fff;
    text-transform: uppercase;
    line-height: 100%;
    font-size: $base-font-size * 4 + 11;
    font-weight: bold;
    
    &.second {
      color: $twitterurl;
    }
    &.first {
      color: $sectiontitle;
    }
  }
  input.email {
    position: relative;
    color: $sectiontitle;
    background-color: #ffffff;
    font-family: $oswald;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    
    font-size:$base-font-size + 8;
    padding:14px 30px 10px 30px;
    @include border-radius(6px);
    @include box-shadow(#bfbfbf 0px -6px);

    width: 50%;
    float: left;
    margin: 40px 40px 0 0;
    text-align: left;
    border: 0;
  }
  input.button {
    position: relative;
    color: #fff;
    background-color: $orange;
    font-family: $oswald;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    
    font-size:$base-font-size + 8;
    padding:14px 30px 10px 30px;
    @include text-shadow(0 -2px #000000);
    @include border-radius(6px);
    @include box-shadow($darkorange 0px -6px);

    width: 25%;
    float: left;
    margin: 40px 0 0 0;
    text-align: center;
    border: 0;
    
  }
}
.partner-link {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}
.sponsor-link:hover,
.sponsor-link:focus,
.partner-link:hover,
.partner-link:focus {
  border-color: #f0a303;
}
.location {
  margin-bottom: 20px;
}

/**
 * device fixes
 */
@media all and (min-width: 960px) {
  #nav {
    width: $dekstopwidth;
    margin: 0 auto;
  }
}
// big screen
@media all and (min-width: 1340px) {
  
}
// normal screen
@media all and (min-width: 1000px) and (max-width: 1339px) {
  
}
// tablet and small screen
@media all and (min-width: 600px) and (max-width: 999px) {
  
}
// landscape ipad tablet
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  
}
// mobile device
@media all and (max-width: 599px) {
  body {
    max-width: 599px;
    min-width: 100px;
  }
  .container_12 {
    width: 100%;
    max-width: 599px;
  }
  .landscape {
    height: 574px;
    
    .hills {
      width: 100%;
      background-position: -392px 0;
    }
    .logo {
      top: 20px;
      right: 0;
      
      .logo-inner {
        width: 100%;
        max-width: 599px;
        padding: 0;
        
        img {
          margin: 0 20px 0 0;
          width: 280px;
        }
      }
    }
    .info {
      height: 262px;
      
      h1 {
        width: 100%;
        max-width: 500px;
        
        span {
          background-size: 485px auto;
        }
      }
    }
    .lake {
      height: 574px;
    }
    .logo-link-inner {
      width: 100%;
      max-width: 599px;
      
      a {
        right: 17px;
        top: 4px;
      }
    }
  }
  
  .tabs {
    height: auto;
    
    h2 {
      float: none;
      width: 80%;
      margin: 0 0 0 25px;
      
      &.middle {
        margin: 20px 0 20px 25px;
      }
    }
  }
  #content {
    .wrapper {
      padding: 0 20px;
    }
  }
  .twitter span,
  .newsletter form {
    padding: 0 20px;
  }
  #nav ul li {
    float: none;
  }
  .navigation {
    height: auto;
    width: 50%;
  }
}
@media all and (max-width: 1300px) {
  .hills {
    background-position: -320px 0;
  }
}